<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>ToDo-List</title>
</head>

<body>
    <style>
        [v-cloak] {
            display: none;
        }
        
        .load {
            position: relative;
            display: flex;
            justify-content: center;
            top: 250px;
        }
    </style>
    <div class="container pt-3" id="app" v-cloak>
        <h1>REST API</h1>
        <form class="form-inline mb-3" @submit.prevent="createContacts">
            <div class="form-group mr-3">
                <label for="name" class="mr-3">Имя</label>
                <input type="text" class="form-control" id="name" v-model="form.name">
            </div>
            <div class="form-group mr-3">
                <label for="value" class="mr-3">Значение</label>
                <input type="text" class="form-control" id="value" v-model="form.value">
            </div>
            <button type="submit" class="btn btn-primary" :disabled="!canCreate">Создать</button>
        </form>

        <div v-if="loading">
            <loader />
        </div>

        <div class="card mb-3" v-for="contact in contacts" v-else-if="contacts.length">
            <div class="card-body">
                <h5 class="card-title" :style="{color: contact.mark ? 'red' : 'black'}">{{ contact.name }}</h5>
                <p class="card-text">{{ contact.value }}</p>
                <button class="btn btn-primary mr-3" @click="markContact(contact.id)" :disabled="contact.mark">Отметить</button>
                <button class="btn btn-danger" @click="removeContact(contact.id)">Удалить</button>
            </div>
        </div>
        <p v-else>Заданий пока нет</p>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="front-end.js"></script>
</body>

</html>